<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokedex</title>
</head>
<body>
  <h1>Welcome to the online Pokedex!</h1>
  <a href="/users/new">Register</a> <a href="/users/login">Login</a><br>
  <ul>
  {{#each pokemon}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>
</body>
</html>
