
{{#if loginStatus}}

    <h1>Hi there {{name}}, you're logged in</h1>

{{else}}

    <p>Let's go register a user!</p>
    <a href="/users/login">
        <input type="button" value="Let me in!">
    </a>
    <a href="/users/new">
        <input type="button" value="Subscribe for a bitcoin!">
    </a>

{{/if}}

