<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
</head>
<body>
  <form method="POST" action="/users/login">
    User: <input type="text" name="user">
    <br>
    Password: <input type = "password" name="password">
    <br>
    <input type = "submit" name="submit">
  </form>
</body>
</html>