<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form class="login-form" method="POST" action="/users/login">
    <div class="login-form">
      Username: <input name="username" type="text"/>
    </div>
    Password: <input name="password" type="password"/>
    </div>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
