<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <form class="" action="/users/login" method="post">
    Name: <input type="text" name="name" value="">
    Password: <input type="text" name="password" value="">
    <input type="submit" name="submit">
  </form>
</body>
</html>
