<html>
	<head>
	</head>
	<body>
		<h1>Welcome Back to Poke - Login Page</h1>
		<form method="POST" action="/users/login">
			Email:
			<input type="text" name="email"/>
			Password:
			<input type="text" name="password"/>
			<input type="submit" value="submit" /> 
		</form>
	</body>
</html>