<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h4>New Sign-up</h4>
	<form  method="post"  action="/users">
		Email:<input type="text" name="email"/>
		Password:<input type="text" name="password"/>
		<input type="submit" value="Sign-up"/>
	</form>
</body>
</html>