<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Registration Page</h1>
  <form class="userRegister" method="POST" action="/users">
    <div class="userEmail">
      Email:<input type="text" name="email"/>
    </div>
    <div class="userPassword">
      Password:<input type="text" name="password"/>
    </div>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
