<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>New User Registeration</h1>
  <form class="register-form" method="POST" action="/users">
    Name:<input name="name" type="text"/>
    Password:<input name="password" type="text"/>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
