<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration</title>
</head>
<body>
    <h2>New User Registration</h2>
    <form action="/users" method="POST">
    Username:
    <div><input type="text" name="username" placeholder="Enter name here"></div><br>
    Password:
    <div><input type="text" name="password" placeholder="Enter password here"></div>
    <div><input type="submit" value="Submit"></div>
    </form>
</body>
</html>