<!DOCTYPE html>
<html>
<head>
  <title>Pokedex</title>
</head>
<body>
	<p>SIGN UP FORM</p>
  <form method="POST" action="/users">
   	Create user: <input type="text" name="user">
    <br>
    Create password: <input type = "password" name="password">
    <br>
    <input type = "submit" name="submit">
  </form>
</body>
</html>