<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Be a Poke Member</title>
</head>
<body>
  <form class="pokemon-form" method="POST" action="/users">
    <div class="sign-up">
      name:<input name="name" type="text"/>
    </div>
    <div class="sign-up">
      email address:<input name="email" type="email"/>
    </div>
    <div class="sign-up">
      password:<input name="password" type="text"/>
    </div>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
