<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon</title>
</head>
<body>
	{{#if loggedinf}}
  <h4>User {{name}} is logged in.</h4>
	
   {{else}}
  <h4>Nobody is logged in.</h4>

   {{/if}}
</body>
</html>
